<head>
    <meta charset="UTF-8">

    <meta name="robots" content="index, follow">

    <title>My Ins</title>

    <script src="/js/OtAutoBlock.js"></script>

    <script src="/js/otSDKStub.js"
            data-domain-script="8fe0c993-cb1d-4fd9-a01c-5bb576a1de59" data-document-language="true"></script>

    <script src="/js/head.min.home1.js"></script>
    <script src="/js/head.min.home.js"></script>
    <script src="/js/main.min.home.js"></script>
    <script src="/js/main.min.home1.js"></script>
    <script src="/js/ndbx-forms.min.home.js"></script>
    <script src="/js/ndbx-three-level-nav.min.home.js"></script>

    <link rel="stylesheet" href="/css/main.min.home.css">
    <link rel="stylesheet" href="/css/onetrust_v2.min.home.css">
    <link rel="stylesheet" href="/css/separatedforms.min.home.css">
    <link rel="stylesheet" href="/css/main.min.home1.css">
<!--login-->
    <link rel="stylesheet" href="/css/icons.css">
    <link href="/css/patternfly.min.css" rel="stylesheet">
    <link href="/css/patternfly-additions.min.css" rel="stylesheet">
    <link href="/css/zocial.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/my.js"></script>
<!--offer-->
    <script src="/js/fbevents.js"></script>
    <link href="/css/custom.min.css" rel="stylesheet">

<!--    <link rel="apple-touch-icon"-->
<!--          href="/content/dam/onemarketing/cee/azbg/favicon/Allianz_favicon.png/_jcr_content/renditions/cq5dam.web.180.180.png">-->

<!--    <link rel="icon" type="image/png" sizes="16x16"-->
<!--          href="/content/dam/onemarketing/cee/azbg/favicon/Allianz_favicon.png/_jcr_content/renditions/cq5dam.thumbnail.16.16.png">-->

<!--    <link rel="icon" type="image/png" sizes="32x32"-->
<!--          href="/content/dam/onemarketing/cee/azbg/favicon/Allianz_favicon.png/_jcr_content/renditions/cq5dam.thumbnail.32.32.png">-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>