<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>My Ins</title>
  <link rel="stylesheet" href="/css/icons.css">
  <link href="/css/patternfly.min.css" rel="stylesheet">
  <link href="/css/patternfly-additions.min.css" rel="stylesheet">
  <link href="/css/zocial.css" rel="stylesheet">
  <link href="/css/login.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <script src="/js/my.js"></script>

</head>