<div class="wrapper container">
  <div class="l-grid__column-medium-12 offset-medium-0">
    <div class="l-container l-container--full-width  t-bg-"
         style="display:block; ;
                                padding-top:0;
                                padding-bottom:0;
	                            --bullet-color:#ffffff;">
      <div class="l-grid l-grid--max-width">
        <div class="c-wrapper  ">


          <div class="spacer parbase">
            <div style="width:100%; height:40px;">
            </div>
          </div>

          <div class="experiencefragment">

            <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">

              <main class="mainContent parsys aem-GridColumn aem-GridColumn--default--12">

                <div class="spacer parbase">
                  <div style="width:100%; height:40px;">
                  </div>
                </div>

                <div class="headline">

                  <h2 class="c-heading  c-heading--section  c-link--capitalize u-text-hyphen-auto">
                    <div style="text-align: center;">Последвайте ни</div>

                  </h2>

                </div>


                <div class="social-media-divider">

                  <script>  var socialMediaShareTracking = '';
                  var socialMediaShareUrls = 'https:\/\/www.facebook.com\/sharer.php,https:\/\/www.linkedin.com\/shareArticle,mailto:?subject=';</script>


                  <div class="c-social-divider  ">
                    <div class="c-social-divider__wrapper">
                      <hr class="c-divider c-divider--compact">
                    </div>
                    <div class="c-social-divider__icon-wrapper">

                      <div class="c-social-divider__icon-container">

                        <a href="https://www.facebook.com/dobrinka.petrova.31/"
                           target="_blank" class="c-social-icon"
                           data-media-url="https://www.facebook.com/dobrinka.petrova.31/"
                           data-component-id="/content/experience-fragments/onemarketing/cee/azbg/bg_BG/custom/follow-us/master1/jcr:content/root/parsys/social_media_divider"
                           data-component-name="Social Media Link -  https://www.facebook.com/dobrinka.petrova.31/"
                           data-component-type="Link">
                          <i class="c-icon c-social-icon--fb c-icon c-icon--facebook-circle"
                             aria-hidden="true"></i>
                        </a>

                        <a href="https://www.linkedin.com/in/dobrinka-nikolova-19a5b531/"
                           target="_blank" class="c-social-icon"
                           data-media-url="https://www.linkedin.com/in/dobrinka-nikolova-19a5b531/"
                           data-component-id="/content/experience-fragments/onemarketing/cee/azbg/bg_BG/custom/follow-us/master1/jcr:content/root/parsys/social_media_divider"
                           data-component-name="Social Media Link -  https://www.linkedin.com/in/dobrinka-nikolova-19a5b531/"
                           data-component-type="Link">
                          <i class="c-icon c-social-icon--linkedin c-icon c-icon--linkedin-circle"
                             aria-hidden="true"></i>
                        </a>

                        <a href="https://www.instagram.com/bbbibbbi/?hl=bg"
                           target="_blank" class="c-social-icon"
                           data-media-url="https://www.instagram.com/bbbibbbi/?hl=bg"
                           data-component-id="/content/experience-fragments/onemarketing/cee/azbg/bg_BG/custom/follow-us/master1/jcr:content/root/parsys/social_media_divider"
                           data-component-name="Social Media Link -  https://www.instagram.com/bbbibbbi/?hl=bg"
                           data-component-type="Link">
                          <i class="c-icon c-social-icon--instagram c-icon c-icon--instagram-circle"
                             aria-hidden="true"></i>
                        </a>


                      </div>
                    </div>
                    <div class="c-social-divider__wrapper">
                      <hr class="c-divider c-divider--compact">
                    </div>
                  </div>


                </div>

                <div class="spacer parbase">
                  <div style="width:100%; height:40px;">
                  </div>
                </div>


              </main>


            </div>


          </div>


        </div>
      </div>
    </div>
  </div>
</div>