<!DOCTYPE html>
<html lang="bg" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head}"></head>

<body class="">
<div th:replace="~{/fragments/login-register-top-line}"></div>
<div class="login-pf-page">
    <div class="main-wrapper">
        <div id="alert-panel" class="alert-row"></div>
        <div class="row">
            <div class="column left-column">
                <div class="card-pf ">
                    <header class="login-pf-header">
                        <div class="login-title">
                            <div style="text-align: center;">Вход/Регистрация</div>

                        </div>
                    </header>

                    <div id="kc-content">
                        <div id="kc-content-wrapper">

                            <div id="kc-form">
                                <div id="kc-form-wrapper">

                                    <form id="kc-form-login"
                                          onsubmit="login.disabled = true; return true; "
                                          th:action="@{/users/login}"
                                          th:method="post">

                                        <div class="email-password-title">
                                            Въведи имейл и парола за вход
                                        </div>

                                        <div class="form-group">
                                            <input tabindex="1" id="username"
                                                   oninput="loginEnableSubmit(); disableEvrotrustInput()"
                                                   class="form-control" name="username" placeholder="Имейл" type="text"
                                                   autofocus="" autocomplete="off">
                                        </div>

                                        <div class="form-group">
                                            <input tabindex="2" id="password"
                                                   oninput="loginEnableSubmit() ; disableEvrotrustInput()"
                                                   class="form-control" name="password" placeholder="Парола"
                                                   type="password" autocomplete="off">
                                            <span toggle="#password" class="toggle-password"
                                                  onclick="togglePass('password')">
                                                <img id="eye-password" src="/img/eye_open.svg" alt="eye"></span>
                                        </div>

                                        <div class="login-pf-settings">
                                            <div id="kc-form-options">

                                            </div>
                                            <div class="">
                                                <span class="navi-link"><a tabindex="5"
                                                                           href="/auth/realms/azbg-customer-portal/login-actions/reset-credentials?client_id=customer-portal&amp;tab_id=vGO_GME1sDs">Забравена парола?</a></span>
                                            </div>

                                        </div>

                                        <div class="form-group ">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="row gdpr1">
                                                    С натискане на бутон „НАПРЕД“, потвърждавам, че прочетох и съм
                                                    съгласен с <a
                                                        href="https://www.allianz.bg/content/dam/onemarketing/cee/azbg/documents/GT_C_customerportal_30.06.2021.pdf"
                                                        target="_blank">Условията</a> и Съобщение за лични данни на <a
                                                        href="https://www.allianz.bg/content/dam/onemarketing/cee/azbg/gdpr/%D0%97%D0%90%D0%94_%D0%90%D0%BB%D0%B8%D0%B0%D0%BD%D1%86_%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F_%D0%96%D0%B8%D0%B2%D0%BE%D1%82.pdf"
                                                        target="_blank">Алианц България Живот</a> и <a
                                                        href="https://www.allianz.bg/content/dam/onemarketing/cee/azbg/gdpr/%D0%97%D0%90%D0%94_%D0%90%D0%BB%D0%B8%D0%B0%D0%BD%D1%86_%D0%91%D1%8A%D0%BB%D0%B3%D0%B0%D1%80%D0%B8%D1%8F.pdf"
                                                        target="_blank">Алианц България</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">

                                            <div id="kc-form-buttons" class="form-group">
                                                <input type="hidden" id="id-hidden-input" name="credentialId">
                                                <input tabindex="4" class="login-button" name="login" id="kc-login"
                                                       type="submit" value="НАПРЕД" disabled="">
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>

                            <div id="kc-info" class="login-pf-signup">
                                <div id="kc-info-wrapper" class="">
                                    <div id="kc-registration">
                                        <span>Създаване на <a tabindex="6"
                                                              href="/users/login/register">нов профил</a></span>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <div th:replace="~{fragments/right-column-login-register}"></div>

        </div>

    </div>

</div>
<footer th:replace="~{/fragments/footer}"></footer>
</body>
</html>